/*Cabecario terminado*/
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13;
    font-family: Arial, Helvetica, sans-serif;
}
.H{
    height: 40px;
}
.header{
    margin-top: 20px;
    float:right;
    margin-right: 30px;
}
.header a{
    margin-left: 15px;
    color: black;
}
a{
    text-decoration: none;
    color: rgba(0,0,0,0.54);
}
a:hover{
    text-decoration: underline;
}
a:focus{
    outline: none;
    text-decoration: underline;
}

.main{
    min-height: calc(100vh - 80px - 40px);
    text-align: center;
}
.i{
    position: relative;
    top: 5em;
}
input:focus{
    outline: none;
}
input:hover{
    outline: none;
}
.g{
    height: 72px;
    width: auto;
}
.search{
    position: relative;
    top: 6em;
    height: 40px;
    display: inline-block;
}
.search_bar{
    margin-top: 1px;
    width:  32em;
    height: 100%;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}
.search_bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.caixa_texto{
    font-size: 14px;
    margin-top: 1px;
    height: 96%;
    width: 84%;
    border:5px solid blue;
    outline: none;
}
.bus{
    position: relative;
    top: 7.5em;
    height: 2em;
}
.bu{
    height: 100%;
    width: auto;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
.bu:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
.bu:focus{
    border: 1px solid #4d90fe;
    outline: none;
}
.bu_1{
    margin-left: 10px;
}
.bu a:hover{
    text-decoration: none;
    text-align: center;
}
.lingua{
    position: relative;
    top: 8em;
}
.lingua a{
    color: blue;
}
.lingua .pri{
    padding:0 3px;
}
.f{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.l{
    height: 42px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.l p{
    margin-left: 30px;
    color: rgba(0,0,0,0.54);
}
.mf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.f_l{
    height: 30px;
    margin-top: 5px;
}
.f_r{
    height: 30px;
    margin-top: 5px;
}
.sp{
    margin-right: 30px;
    margin-left: 30px;
    height: 100%;
}