/*Cabecario terminado*/
html, body{
    width: 100;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13;
}
.H{
    height: 40px;
}
.header{
    margin-top: 20px;
    float:right;
    margin-right: 30px;
}
.header a{
    margin-left: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    outline: none;
    text-decoration: underline;
}
/*main*/
.main{
    text-align: center;
}
.i{
    position: relative;
    top: 5em;
}
input:focus{
    outline: none;
}
input:hover{
    outline: none;
}
.g{
    width: auto;
    height: 100px;
}
.search{
    position: relative;
    top: 6em;
    height: 40px;
    display: inline-block;
}
.search_bar{
    margin-top: 1px;
    width:  32em;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
}
.caixa_texto{
    margin-top: 1px;
    height: 96%;
    width: 84%;
    box-sizing: border-box;
    border: none;
}
.bus{
    position: relative;
    top: 7.5em;
    height: 2em;
}
.bu{
    height: 100%;
    width: auto;
}
.bu_1{
    margin-left: 10px;
}
.bu a:hover{
    text-decoration: none;
    text-align: center;
}
/*footer*/
.f{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: chocolate;
}
.l{
    height: 42px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.l p{
    margin-left: 30px;
}
.mf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.f_l{
    height: 30px;
    margin-top: 5px;
}
.f_r{
    height: 30px;
    margin-top: 5px;
}
.sp{
    margin-right: 30px;
    margin-left: 30px;
    height: 100%;
}